html {
  height: 100%;
  width: 100%;
  font-family: "roboto", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(white, skyblue);
  background-image: url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/notebook-paper-background-design-template-c114c2ed2104bd8b815cf7fbb2f34f44_screen.jpg?ts=1566601599"); 
  background-size: 100%;
  background-repeat: no-repeat; 

}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 18px 18px;


}

.todo {
  line-height: 1.9;
  font-size: 20px;
  text-align: centre;

}



#tasks {
  text-align: centre;
  font-size: 20px;
}
